<div style="margin-top: 5rem"></div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Search</span>
  <input type="text" class="form-control" placeholder="Search..." aria-label="" aria-describedby="basic-addon1" [(ngModel)]="searchInput">
</div>

<p>{{ searchInput }}</p>


<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let product of cartService.products | filtroProdotti:searchInput:'title'">
          <div class="card shadow-sm">
            <img [src]="product.thumbnail" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">
            <div class="card-body">
              <p class="card-text">{{ product.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="goToProduct(product.id)">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"(click)="onRemoveFromCart(product.id)">Remove</button>
                </div>
                <small class="text-body-secondary"><span class="ogPrice">{{ product.price }}$</span><span class="newPrice"> {{ product.price | discountedPrice:product.discountPercentage | number:'1.2-2'  }}$</span> </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>