<div style="margin-top: 5rem"></div>

<div class="container">
    <h1>{{ product?.title }}</h1>
    <div class="carousel slide" data-ride="carousel" id="carousel">
        <div class="carousel-inner">
        <div 
        class="carousel-item" 
        *ngFor="let image of product?.images; let i = index"
        [class.active]="i == currentSlide">
            <img class="d-block w-100" [src]="image" alt="slide {{ i }}">      
        </div>
        </div>  
        <a class="carousel-control-prev" (click)="prevSlide()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
        </a>
        <a class="carousel-control-next" (click)="nextSlide()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </a>    
    </div>
    <p>{{ product?.description }}</p>
    <p>Prezzo originale: <span class="barred">{{ product?.price }}$</span></p>
    <p>Sconto: {{ product?.discountPercentage }}%</p>
    <ng-container *ngIf="product">
        <p>Prezzo finale: {{ product.price | discountedPrice:product.discountPercentage | number:'1.2-2'}}$</p>
    </ng-container>  
    <div>
        <button class="btn btn-primary" (click)="goBack()">Indietro</button>
        <button class="btn btn-warning" *ngIf="!alreadyInCart()" (click)="onAddToCart()">Acquista</button>
        <button class="btn btn-danger" *ngIf="alreadyInCart()" (click)="onRemoveFromCart()">Remove from cart</button>
    </div>
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <app-card *ngFor="let product of productsRoot?.products | filtroProdotti:product?.category:'category'" [product]="product"></app-card>
      </div>
    </div>
  </div>